.body {
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

.body p {
    color: brown;
    font-weight: bold;
    font-size: 24px;
}

.body h2{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-top: -24px;
}

.body img {
    max-width: 800px;
    max-height: 400px;
}

#perdeu {
    display: none;
}

.controle {
    margin-top: 48px;
}

.acao {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 32px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}